DOCKER_USER=pelias
PELIAS_DATA_DIR=/opt/docker/pre-sale/pelias-data/us

PELIAS_API_PORT=4000
PELIAS_PLACEHOLDER_PORT=4100
PELIAS_PIP_PORT=4200
PELIAS_INTERPOLATION_PORT=4300
PELIAS_LIBPOSTAL_PORT=4400
PELIAS_ES_HTTP_PORT=9200
PELIAS_ES_TRANSPORT_PORT=9300
